.videosWrapper {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  .videos {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 900px) {
      grid-template-columns: 500px;
    }

    gap: 2rem;
    width: 100%;

    video {
      width: 100%;
      height: 100%;
      transform: rotateY(180deg);
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  .roomControllers {
    input {
      width: 100%;
    }
    .joinBtn {
      border-radius: 0.5rem;
      border: 0;
      color: #fff;
      background: #10a37f;
      font-weight: bolder;
      padding: 1rem 3rem;
    }
  }
}
