.addDoctorWrraper {
  max-width: 1700px;
  padding: 1rem;
  margin: 0 auto;
}
.doctosTitle {
  text-align: center;
  font-size: 3em;
  max-width: 650px;
  margin: 0 auto;
  span {
    color: #229f97;
    font-weight: bold;
  }
}
.titles {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  p {
    user-select: none;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 100vh;
    color: #333;
    border: 1px solid #111;
    padding: 0.2rem 1rem;
    &:not(:first-child) {
      margin-left: 1rem;
    }
    font-size: 1.3em;
    font-weight: bolder;
  }
  .selected {
    color: #777;
  }
}
.userRow {
  display: flex;
  width: 100%;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
  justify-content: space-evenly;
  align-items: center;

  .email {
    color: #007dfe;
  }
  @media screen and (max-width: 900px) {
    .type {
      display: none;
    }
  }
  @media screen and (max-width: 650px) {
    .type {
      display: block;
    }
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
    * {
      &:not(:first-child) {
        margin-top: 0.3rem;
      }
    }
  }
}
.usersList {
  margin-top: 2rem;
}
.icon {
  cursor: pointer;
}

button {
  background: transparent;
  padding: 0;
  color: #111;
  width: fit-content;
  span {
    display: none;
  }
  &:hover {
    background: transparent;
  }
}
