.sideBtn {
  width: fit-content !important;
  padding: 0.8rem 4rem !important;
  width: 100% !important;
}
.register {
  color: #343541;
  width: 100vw;
  min-height: 90vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  h1 {
    font-weight: 500;
  }
  p {
    text-align: center;
    color: gray;
    margin-bottom: 3em;
  }
  .points {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    div {
      margin: 0 1rem 1rem;
      border-radius: 100%;
      background: #fff;
      transition: 0.3s;
      color: #343541;
      border: 1px solid lightgray;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      padding: 1.2em;
      align-items: center;
      cursor: pointer;

      &:hover {
        transition: 0.3s;
        border-color: #10a37f;
      }
    }
    .selected {
      border: none;
      background: #10a37f;
      color: #fff;
    }
  }
  .errorMessage {
    font-size: 14px;
    color: crimson;
    margin-bottom: 1em;
  }
  .headlink {
    font-size: 2em;
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .inputs {
    max-width: 750px;
    padding: 1em;
    transition: 0.3s;
    label {
      color: rgba(0, 0, 0, 0.807);
      font-weight: 500;
      display: block;
      margin-bottom: 0.3em;
      text-align: left;
    }
    ::placeholder {
      color: rgba(128, 128, 128, 0.589);
    }
    .radio-btn {
      display: none;
    }
    .roles {
      @media screen and (max-width: 750px) {
        display: block;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      max-width: 650px;

      label.role div {
        @media screen and (max-width: 750px) {
          width: 100%;
          margin: 1rem 0;
          padding: 2em;
        }
        cursor: pointer;
        transition: 0.3s;
        border: 2px solid #fff;
        &:hover {
          border-color: #10a37f;
        }
        span {
          font-weight: 500;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.7em;
        border-radius: 0.4em;
        margin: 1rem;
        border: 1px solid lightgray;
        .icon {
          font-size: 2rem;
          display: block;
          padding: 1rem;
        }
      }
    }

    .finish {
      width: fit-content;
      margin: -20px auto 20px auto;
      padding: 2rem;
      height: 40px;
      width: 40px;
      display: flex;
      border: 2px solid #10a37f;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      font-weight: 800;
      color: #10a37f;
      border-radius: 100vh;
    }
    .selectedRole {
      outline: 1px solid #10a37f;
    }
    .errorField {
      border: 2px solid crimson;
    }

    .options {
      margin-bottom: 1rem;
      width: 100%;
      select {
        outline: none;
        width: 100%;
        padding: 0.5rem;
      }
    }
    input {
      @media screen and (min-width: 750px) {
        min-width: 650px;
      }
      width: 100%;
      max-width: 750px;
      display: block;
      padding: 1em;
      border: 1px solid lightgrey;
      margin-bottom: 1em;
      &:focus {
        outline: 0.1em solid black;
      }
    }
    button {
      transition: 0.3s;
      width: 100%;
      color: #fff;
      border: none;
      margin-top: 1em;
      margin-bottom: 2rem;
      padding: 1.2em;
      cursor: pointer;
      background: #10a37f;

      &:hover {
        background: #10a37f;
      }
    }
  }
}
.finishSection {
  .middle {
    h1 {
      font-weight: 500;
      margin-bottom: 0.4em;
    }
  }
  button {
    width: 93% !important;
  }
}
@media screen and (max-width: 750px) {
  .small {
    font-size: 1.5em;
  }
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    font-weight: 500;
    color: #333;
  }
}
