@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

* {
  font-family: "Poppins";
}
.success {
  padding: 0.3em;
  border-radius: 0.2em;
  background: #19bb8545;
  color: #19bb86;
}
.delete {
  padding: 0.3em;
  border-radius: 0.2em;
  background: #f55b5b3e;
  color: #f55b5b;
}
.system {
  padding: 0.3em;
  border-radius: 0.2em;
  background: #4396e942;
  color: #4396e9;
}
::selection {
  color: #fff;
  background: #0d978d;
}