.dashboardWrapper {
  padding: 1rem;
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 3rem;
  .headingMessage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 700px;
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
    div {
      background: #10a37f;
      height: fit-content;
      padding: 6rem 3rem;
      border-radius: 3rem;
    }
    padding: 2rem 1rem;
    h1,
    p {
      color: #fff;
      background: transparent;
    }
    p {
      margin-top: 1rem;
      max-width: 650px;
    }
    h1 {
      font-size: 3em;
      @media screen and (max-width: 1000px) {
        font-size: 2rem;
      }
    }
  }
}
.sections {
  display: flex;
  justify-content: center;
  p {
    position: relative;
    color: #10a37f;
    font-size: larger;
    padding: 1rem;
    span {
      color: #3886e6;
    }
    .indicator {
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      height: 7px;
      width: 7px;
      border-radius: 50%;
      background: #ea4c89;
    }
    &:hover {
      cursor: pointer;
      color: #ea4c89;
    }
  }
}
.sectionWrapper {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 650px) {
    flex-direction: column;
    div {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .indicator {
        left: 50%;
      }
    }
  }
  button {
    margin: 0;
    .icon {
      background: transparent;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    border-radius: 100vh;
    border: 2px solid;
    width: 100%;
    &:hover {
      transition: 0.3s;
      color: #10a37f;
      background: #fff;
      border: 2px solid #10a37f;
    }
  }
}

.specialityColor {
  background: #10a37f !important;
}
.female {
  background: #ea4c89 !important;
}
.list {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  @media screen and (max-width: 1200px) {
    grid-template-columns: 100%;
    .message {
      margin: auto 1rem;
      margin-top: 0;
      grid-row: 1;
    }
  }
}
.message {
  font-size: larger;
  text-align: center;
  margin-top: 1rem;
  text-transform: capitalize;
  * {
    background: transparent;
    z-index: 100;
  }
}
a {
  text-decoration: none;
  color: black;
}
.systemMessage {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}
.gender {
  padding: 0.3rem 1rem;
  background: #3886e6;
  border-radius: 100vh;
  color: #fff;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (max-width: 7200px) {
    flex-direction: row;
  }
  a {
    opacity: 0.8;
    &:hover {
      transition: 0.3s;
      opacity: 1;
    }
    &:first-child {
      margin: 0.2em;
      color: #3886e6;
    }
  }
  a {
    opacity: 0.8;
    &:hover {
      transition: 0.3s;
      opacity: 1;
    }
    margin: 0.2em;
    color: #10a37f;
  }
}
.userLine {
  transition: 0.3s;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  border: 1px solid #10a37f;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  user-select: none;
  cursor: pointer;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    * {
      &:not(:first-child) {
        margin-top: 5px;
      }
    }

    .first {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      padding: 1rem;
    }
    p {
      color: gray;
    }
  }
}
