.dashboardWrapper {
  margin: 6rem auto;
  max-width: 1700px;
  padding: 1rem;
  display: flex;
  @media screen and (max-width: 1200px) {
    padding: 0;
  }
  .sidebar {
    flex: 0.2;
    @media screen and (max-width: 1200px) {
      flex: 0.1;
      div {
        justify-content: center;
      }
    }
    div {
      cursor: pointer;
      padding: 1rem;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      border-radius: 15px;
      p {
        background: transparent;
        margin-left: 1rem;
        @media screen and (max-width: 1200px) {
          display: none;
        }
      }
      &:hover {
        background: #10a37e08;
      }
    }
  }
  .selected {
    * {
      color: #10a37f;
    }
  }
  .result {
    padding: 0 1rem;
    margin-top: 1rem;
    flex: 0.8;
  }
}
.absoluteModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
