.communication {
  max-width: 1700px;
  margin: 4rem auto;
  padding: 1rem;
  h1 {
    text-align: center;
  }
}
.left {
  width: 100%;
  margin-bottom: 1rem;
  background: #f5f8ff;
  width: fit-content;
  max-width: 300px;
  padding: 0.7em 1em;
  border-radius: 10px;
  color: black;
  word-wrap: break-word;
}
.right {
  width: fit-content;
  color: #dcdee3;
  background: #586684;
  padding: 0.7em;
  max-width: 300px;
  border: 1px solid lightgray;
  margin-bottom: 1rem;
  word-wrap: break-word;
  border-radius: 10px;
}
.messageList {
  margin: 0 auto;
  max-width: 750px;
  max-height: 70vh;
  min-height: 550px;
  overflow-y: scroll;
  display: flex;
  width: 100%;
  div {
    width: 100%;
    p {
      font-size: 1em;
    }
    p.right {
      margin: 0 1rem auto auto;
      margin-top: 1rem;
      span {
        text-align: right;
      }
    }
    p.left {
      &::selection {
        background: #fff;
        color: #0d978d;
      }
      margin-top: 1rem;
    }
    span {
      display: block;
      font-size: 0.6em;
      background: transparent;
    }
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  &:active {
    cursor: grab;
  }
  @media screen and (max-width: 900px) {
    width: 4px;
  }
}

::-webkit-scrollbar-thumb {
  background: #5555557a;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sendingMessage {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  max-width: 750px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
    padding-top: 2rem;
    font-size: inherit;
  }
  button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 1rem;
    border-radius: 1rem;
  }
}
