button {
  transition: 0.3s;
  width: 100%;
  color: #fff;
  border: none;
  margin-top: 1em;
  padding: 1.2em;
  cursor: pointer;
  background: #10a37f;

  &:hover {
    background: #10a37f;
  }
}
.error {
  color: red;
  font-size: smaller;
}

.wrapper {
  color: #343541;

  min-height: 90vh;
  padding: 1rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    min-width: 600px;

    @media screen and (max-width: 750px) {
      min-width: 100%;
    }
    .or {
      position: relative;
      text-align: center;
      margin-bottom: 1em;
      width: 100%;

      p {
        text-align: center;
        background: #fff;
        width: 30%;
        margin: 0 auto;
        padding: 0.3em;
        z-index: 50;
        position: relative;
      }
      span {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: lightgray;
      }
    }
    input,
    label {
      width: 100%;
      display: block;
    }
    label {
      font-weight: 500;
    }
    input {
      padding: 1em;
      margin-top: 0.3em;
      margin-bottom: 1em;
      border: 1px solid lightgrey;
    }

    h1 {
      text-align: center;
      margin-bottom: 1em;
    }
    .btn {
      cursor: pointer;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em;
      border: 1px solid lightgray;
      margin-bottom: 2em;
      img {
        object-fit: contain;
        height: 20px;
        margin-right: 1rem;
      }
    }

    .click {
      margin-bottom: 2rem;
    }
    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        font-weight: 500;
        color: #333;
      }
      @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
* {
  background: #fff;
}
.errorMessage {
  font-size: 14px;
  color: crimson;
  margin-bottom: 1em;
}
.errorField {
  border: 2px solid crimson !important;
}

button.click {
  width: 100% !important;
  background: #10a37f !important;
  padding: 1rem !important;
  color: #fff !important;
}
