div.message {
  background: transparent;
  border-radius: 5px;
  padding: 0.5rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: gray;
    font-size: smaller;
  }
  div {
    padding: 0 1rem;
  }
  @media screen and (max-width: 1700px) {
    margin-left: 1rem;
  }
}

.messageWrraper {
  background: transparent;
  max-width: 1700px;
  margin: 0 auto;
}
