.messagesWrapper {
  position: fixed;
  z-index: 50000;
  bottom: 1rem;
  left: 1rem;
  .message{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    div{
      margin-left: 1rem;
    }
    strong{
      font-size: 0.8em;
    }
    p{
      font-size: 0.5em;
    }
  }
}