.messagesWrapper {
  margin: 2rem;
  z-index: 50000 !important;
  color: #111 !important;
  .message {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    div {
      margin-left: 1rem;
    }
    strong {
      font-size: 0.7em;
    }
    p {
      font-size: 0.6em;
    }
  }
}
