header {
  padding: 0.5rem;
  h2 {
    font-size: 1.8em;
    color: #10a37f;
  }
}
.allUsers {
  height: 80vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  &:active {
    cursor: grab;
  }
  @media screen and (max-width: 900px) {
    width: 4px;
  }
}
.filter {
  margin: 2rem 0;
  * {
    outline: 0;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  b {
    color: #10a37f;
    text-transform: capitalize;
  }
  option {
    border-radius: 1rem;
    outline: transparent;
  }
}
::-webkit-scrollbar-thumb {
  background: #5555557a;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.users {
  padding: 0.5rem;
}
.moreDoctorP {
  text-align: center;
  margin: 1rem auto;
  text-transform: capitalize;
  font-weight: 500;
}
.moreDoctors {
  display: flex;
  margin-top: 1rem;
  button {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0.4em 1rem;
    transition: 0.3s;
    margin: 0 auto;
    background: #fff;
    color: #10a37f;
    border-radius: 100vh;
    border: 2px solid #10a37f;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: #10a37f;
      font-weight: 500;
    }
    * {
      background: transparent;
    }
  }
}
.absoluteModal {
  width: 100%;
  position: absolute;
  background: #fff;
  z-index: 100;
}
