.profileWrapper:first-child {
  flex-direction: column;
  .line2 {
    width: 95%;
    height: 3px;
    background: #229f97;
    border-radius: 100vh;
  }
}
.workTime {
  padding: 0;
  width: 100%;
  max-width: 750px;
  margin-top: 2rem;
  h1 {
    color: #229f97;
  }
}

.profileWrapper {
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
  max-width: 1700px;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .workTime {
      margin-top: 3rem;
    }
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    font-size: 3rem;
    width: 5em;
    border-radius: 100vh;
    border-bottom: 3px solid #229f97;

    @media screen and (max-width: 1000px) {
      margin-bottom: 2rem;
      border-radius: 0;
      width: 100%;
      display: none;
    }
  }
  .smallImage {
    p {
      font-size: 2rem;
    }
    @media screen and (min-width: 1000px) {
      display: none;
    }
  }
  .leftProfile {
    padding: 0 2em;
    margin-left: 2rem;

    h2 {
      margin-bottom: 2em;
      font-weight: 500;
    }
    ul {
      margin-top: 1rem;
      li {
        color: gray;
        margin-top: 0.8em;
      }
    }
    .info {
      display: flex;
      color: gray;
      p {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        span {
          margin-right: 1rem;
          color: #229f97;
        }
        &:not(:first-child) {
          padding: 0 1rem;
        }
      }
    }
  }
}

.bottomInfo {
  max-width: 1700px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  button {
    width: fit-content;
    padding: 0.8rem 4rem;
    border-radius: 100vh;
    border: 2px solid #229f97;
    &:hover {
      background: #fff;
      color: #229f97;
    }
  }
  .block {
    color: #fff;
    border-color: #ee4b2b;
    background: #ee4b2b;
    &:hover {
      color: #ee4b2b;
    }
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.mark {
  color: #ea4c89;
  font-weight: bold;
  &:hover {
    color: #ea4c89;
  }
}
.tabsSection {
  padding: 1rem;
  max-width: 1700px;
  margin: 0 auto;
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    p {
      transition: 0.3s;
      padding-right: 1rem;
      cursor: pointer;
      padding-top: 1rem;
      position: relative;
      &:not(:first-child) {
        margin-right: 1rem;
      }
      &:hover {
        transition: 0.3s;
        color: #229f97;
      }
    }
  }
}
.second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  justify-content: center;
  align-items: center;
  p.image {
    &:nth-child(1) {
      margin: 0 auto;
    }
  }
}
.ratingAndComments {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  button {
    border: 2px solid #229f97;
    margin: 1rem;
    cursor: pointer;
    padding: 1em 3em;
    border: 2px solid #229f97;
    background: #229f97;
    color: #fff;
    border-radius: 100vh;
    transition: 0.3s;
    &:hover {
      color: #229f97;
      background: #fff;
      transition: 0.3s;
      scale: 1.02;
    }
  }
}
.users {
  margin: 0 1rem;
}
