.bookingWrapper {
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 1rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
}

.bookingWrapper2 {
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  margin-top: 5rem;
  width: 100%;
  .selectedDate {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #f29890;
  }
}
.moreBtn {
  max-width: 600px;
  display: flex;
  margin: 0 auto;
  justify-content: right;
  .icon {
    transition: 0.2s;
    border-radius: 100vh;
    color: #fff;
    border: 2px solid #ff786e;
    transition: 1s;
    background: #ff786e;
    &:hover {
      transition: 1s;
      rotate: 360deg;
      color: #ff786e;
      background: #fff;
      border: 2px solid #ff786e;
    }
  }
}
.wrapperDate {
  max-width: 1700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  @media screen and (max-width: 1050px) {
    margin-top: 0rem;
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}
.schedual {
  text-align: right;
  transition: 0.3s;
  margin-top: 0.3em;
  background: #229f97;
  width: fit-content;
  color: #fff;
  padding: 0.3em 1em;
  margin: 1rem auto;
  border: 1px solid #229f97;
  border-radius: 100ch;
  cursor: pointer;
  &:hover {
    transition: 0.3s;
    color: #229f97;
    background: #fff;
    border: 1px solid #229f97;
  }
}
.messageDoc {
  text-align: center;
  color: #ff786e;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.book {
  padding: 0.5rem 0.8rem;
  background: #fff2f1;
  border-radius: 12px;
  font-size: smaller;
  color: #ff786e;
  cursor: pointer;
}
.meeting {
  max-width: 650px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 12px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 950px) {
    font-size: smaller;
  }
  .leftSide {
    display: flex;
    align-items: center;
  }
  .dateTime1 {
    color: #ff786e;
    padding: 1rem 2rem;
    border-radius: 12px;
    background: #fff2f1;

    p {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      background: transparent;
    }
  }
  .dateTime2 {
    padding: 1rem;
    p {
      font-weight: bold;
      font-size: smaller;
      color: #494a57;
    }
  }
}
.loadingIcon {
  margin-top: 1rem;
  text-align: center;
  * {
    color: #ff786e;
    animation: spin 2s;
    transform-origin: center;
    animation-iteration-count: infinite;
  }
}
@keyframes spin {
  0% {
    transition: 0.3s;
    transform: rotate(0deg);
  }
  100% {
    transition: 0.3s;
    transform: rotate(360deg);
  }
}
