.ratingModal {
  position: fixed;
  inset: 0;
  z-index: 5000 !important;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(16, 163, 127, 0.5) 70%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .innerModal {
    position: relative;
    padding: 2rem;
    background: #fff;
    max-width: 700px;
    border-radius: 13px;
    .title {
      font-size: 2em;
    }
    p {
      font-size: 1em;
      color: rgba(0, 0, 0, 0.769);
    }
    .iconPostion {
      cursor: pointer;
      position: absolute;
      border: 2px solid #111;
      top: 25px;
      width: 25px;
      height: 25px;
      right: 25px;
      &:hover {
        border: none;
        color: #fff;
        background: #10a37f;
      }
    }
  }
  .publishbtn,
  .cancleBtn {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    background: #a1e6b8;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      color: #10a37f;
      border: 1px solid #a1e6b8;
      background: #fff;
    }
  }
  .cancleBtn {
    background: 0;
    color: #10a37f;
    border: 2px solid #a1e6b8;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      color: #fff;
      background: #a1e6b8;
    }
  }
  .ratingStars {
    width: 100%;
    display: flex;
    justify-content: center;
    direction: rtl;
    margin: 1rem auto;

    .star {
      transition: 0.3s;
      font-size: 1.8em;

      cursor: pointer;
      &:hover,
      &:hover ~ .star {
        color: #ffc84e;
        transition: 0.3s;
        transform: translateY(-5px);
      }
    }
  }
  .theRating {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
  .bottomCommentSection {
    textarea {
      border: 0;
      &:focus {
        outline: 1px solid black;
      }
      padding: 0.6em;
      margin-top: 1rem;
      width: 100%;
      resize: vertical;
      min-height: 150px;
    }
  }
}
