.backBtn {
  rotate: 90deg;
  border-radius: 100vh;
  background: #10a37f;
  transition: 0.3s;
  height: 100%;
  color: #fff;
  padding: 0.2rem;
  width: 100%;
}
.backBtnWrapper {
  margin: 1rem;
  width: fit-content;
  height: 2rem;
  width: 2rem;
}
