.profileWrapper {
  .innerWrraper {
    margin-top: 3rem;
    max-width: 500px;
  }
  max-width: 1700px;
  margin: 0 auto;
  padding: 1rem;
  span.checkMark {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 2em;
    background: #10a37f;
    border-radius: 100vh;
    margin-bottom: 1rem;
  }
  .headline {
    text-transform: uppercase;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .updateInfo {
    color: #10a37f;
    margin-left: 5px;
    cursor: pointer;
  }
  .widthFull {
    width: 100%;
    &:hover {
      color: #fff;
      background: #10a37f;
    }
  }
  .isMaleSection {
    label {
      cursor: pointer;
    }
    div {
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: 3fr 1fr;
      position: relative;
    }
  }
  .row {
    display: flex;
    align-items: center;
    p {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      &:first-child {
        font-weight: bold;
        padding: 0 1rem 0 0;
      }
    }
  }
  .rowInput {
    padding: 0 1rem;
    input {
      display: block;
      width: 100%;
      border: 0;
      padding: 0.5rem 1rem;
      outline: none;
      border-bottom: 1px solid #10a37f;
    }
  }
  .fitEmoji {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    font-size: 2rem;
    margin-right: 2rem;
  }
}
.approveBtn {
  width: fit-content;
  padding: 1rem 3rem;
  border: 2px solid #fff;
  border-radius: 100vh;
  &:hover {
    background: #fff;
    color: #10a37f;
    border-color: #10a37f;
  }
}
.reject {
  background: red;
  &:hover {
    border-color: red;
    color: red;
  }
}
