.info {
  width: 100%;
  margin: 0 auto;
}
.newOne {
  border: 5px solid black;
}

.calanderWrapper {
  width: fit-content;
}

.navigationBtns,
.headerWords {
  text-align: center;
  padding: 0 1rem;
}
.navigationBtns {
  button {
    border: 0;
    width: fit-content;
    background: transparent;
    color: #111;
    padding: 0;
  }
}

.over {
  background: rgba(128, 128, 128, 0.1);
}

.dateDays,
.dateNumber {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, minmax(30px, 60px));

  span {
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 1em;
    user-select: none;
    text-align: center;
    cursor: pointer;
  }

  span:not(.selected, .over, .dateDays > span, .notThis) {
    &:hover {
      border: 1px solid #ff7f75;
    }
  }

  .selected {
    color: #ff7f75;
    background: #ffe5e3;
  }
}
.selectedOver {
  background: #ea4c89;
  color: #fff;
}
.dateDays {
  margin-top: 1rem;
}
@media screen and (max-width: 950px) {
  .dateDays,
  .dateNumber {
    grid-template-columns: repeat(7, minmax(30px, 1fr));
    span {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      padding: 0.9 0.5em;
      font-size: small;
      @media screen and (max-width: 750px) {
        width: 50px;
        height: 50px;
      }
    }
  }

  .info {
    margin: 0 auto;
  }
}
