nav {
  @media screen and (max-width: 900px) {
    .fire span {
      display: none;
    }
  }
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .leftNav {
    display: flex;
    justify-content: center;
    align-items: center;

    a:not(:first-child) {
      margin-left: 2rem;
      font-size: 15px;
      color: #343541;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1700px;
  }
  a {
    text-decoration: none;
    transition: 0.3s;
    font-size: larger;
    color: black;
  }
  a.setting {
    position: relative;
    transition: 0.3s;
    &:hover::after {
      transition: 0.3s;
      scale: 1;
    }
  }
  a:hover {
    transition: 0.3s;
    opacity: 0.8;
  }
  a.setting::after {
    transition: 0.3s;
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 100vh;
    top: 110%;
    left: 0;
    background: rgba(102, 51, 153, 0.56);
    scale: 0;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  h1 {
    word-spacing: 1rem;
  }
  .navLinks {
    display: flex;
    align-items: center;
    .specialLink {
      padding: 0.2rem 0.7rem;
      transition: 0.3s;
      background: #eaeef54e;
      border: 1px solid transparent;
      border-radius: 100vh;
      cursor: pointer;

      &:hover {
        transition: 0.3s;
        border: 1px solid gray;
      }
    }
  }
  .navLinks a {
    font-size: 15px;
    margin: 0 30px;
    position: relative;
  }
}
