::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  &:active {
    cursor: grab;
  }
  @media screen and (max-width: 900px) {
    width: 4px;
  }
}

::-webkit-scrollbar-thumb {
  background: #5555557a;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.myPrescriptions {
  padding-top: 0.1rem;
  .thePrescriptions {
    max-height: 90vh;
    overflow-y: scroll;
  }
  h1 {
    color: #10a37f;
    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }
}
